body {
    font-family: 'Inter', sans-serif;
    background-color: #111;
    color: #ccc;
    margin: 0;
    padding: 40px;
    font-size: 16px;
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

header h1 {
    font-size: 2em;
    color: #aaf0cd;
    font-weight: 500;
}

header p {
    margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 1em;
}

.writing-item {
    display: flex;
    margin-bottom: 0.5em;
}

.writing-item .date {
    color: #888;
    width: 150px;
    flex-shrink: 0;
}

#bucket-list ul {
    list-style: disc;
    padding-left: 20px;
}

#bucket-list li {
    margin-bottom: 0.5em;
}

#see-more {
    color: #888;
    text-decoration: none;
    font-style: italic;
}

#see-more:hover {
    color: #fff;
}

.hidden {
    display: none;
}

footer {
    margin-top: 3em;
    border-top: 1px solid #333;
    padding-top: 1.5em;
}

footer a {
    color: #888;
    text-decoration: none;
    margin-right: 1.5em;
}

footer a:hover {
    color: #fff;
}

